{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="wrapper">
        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="error">{{ flash_error }}</div>
        {% endfor %}
        <h1>Créer un compte</h1>

        {{ form_start(registrationForm) }}
            <div class="question">
                {{ form_row(registrationForm.firstname) }}
            </div>
            <div class="question">
                {{ form_row(registrationForm.lastname) }}
            </div>
            <div class="question">
                {{ form_row(registrationForm.email) }}        
            </div>
            <div class="question">
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}        
            </div>
            <div class="question">
                {{ form_row(registrationForm.agreeTerms) }}
            </div>
            <button type="submit" class="btn">Register</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
