{% extends 'base.html.twig' %}

{# ... #}

{% block body %}
    <div class="wrapper">
        {% if error %}
            <div class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form action="{{ path('app_login') }}" method="post">
            <div class="question">
                <label for="username">Email:</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}"/>
            </div>
            
            <div class="question">
                <label for="password">Password:</label>
                <input type="password" id="password" name="_password"/>
            </div>
            
            <input type="hidden" name="_target_path" value="/simulator"/>

            <button class="btn btn-default" type="submit">Se connecter</button>
        </form>
    </div>
{% endblock %}
