@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,800,900);
 .question input, fieldset label {
	 -webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
	 box-sizing: border-box;
}
 body {
	 font-family: Raleway;
	 font-weight: 400;
	 line-height: 1.5;
	 color: #454545;
}
.wrapper {
    display: grid;
    justify-content: center;
}
 small {
	 font-size: 0.75em;
}
 input {
	 font-family: Raleway;
	 font-size: 1em;
}
 .question {
	 margin: 20px 0;
	 clear: both;
}
 .question label {
	 display: block;
}
 .question input {
	 padding: 10px;
	 -moz-border-radius: 5px;
	 -webkit-border-radius: 5px;
	 -ms-border-radius: 5px;
	 border-radius: 5px;
	 border: 1px solid #d9d9d9;
	 display: block;
	 margin-top: 5px;
	 width: 400px;
	 height: 50px;
}
 .btn , .error {
	 background: #aacf18;
	 text-align: center;
	 border: 0;
	 box-sizing: border-box;
	 width: 400px;
	 font-family: Raleway;
	 font-size: 16px;
	 display: inline-block;
	 cursor: pointer;
	 -moz-border-radius: 5px;
	 -webkit-border-radius: 5px;
	 -ms-border-radius: 5px;
	 border-radius: 5px;
	 height: 50px;
	 line-height: 50px;
	 color: #fff;
}
 .btn:hover , .error:hover {
	 background: #454545;
}
.error {
    background: tomato;
    color: #fff;
}
 .answer {
	 margin: 20px 0;
	 clear: both;
}
 input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
	 -webkit-appearance: none;
	 margin: 0;
}
 input[type=number] {
	 -moz-appearance: textfield;
}