{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper">
        {% if echancies is not null %}
        <div class="btn btn-default">Votre échancier seras : {{ echancies }} par mois.</div>
        {% endif %}
        {{ form_start(form) }}
        <div class="question">
            {{ form_row(form.montant) }}
        </div>
        <div class="question">
            {{ form_row(form.taux) }}
        </div>
        <div class="question">
            {{ form_row(form.nbMonths) }}
        </div>
        <button class="btn btn-default">Calculer</button>
        {{ form_end(form) }}
        <small>Copyrigt © Hatem BEN HAMZA - Test Technique Développeur Back-End Sénior</small>
    </div>
{% endblock %}